<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Job Roles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div class="text-bg-light p-3 d-flex align-items-center">
        <img src="/logos/kainos_logo.png" alt="Kainos Logo" style="height: 80px;">
        <h1 class="ms-3 mb-0 flex-grow-1 text-end w-100">Open Job Roles</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Location</th>
                    <th>Capability</th>
                    <th>Band</th>
                    <th>Closing Date</th>
                </tr>
            </thead>
            <tbody>
                <% roles.forEach(function(role) { %>
                    <tr>
                        <td>
                            <%= role.roleName %>
                        </td>
                        <td>
                            <%= role.location %>
                        </td>
                        <td>
                            <%= role.capability.capabilityName %>
                        </td>
                        <td>
                            <%= role.band.bandName %>
                        </td>
                        <td>
                            <%= new Date(role.closingDate).toLocaleDateString('en-GB') %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
<footer class="footer" id="footer">
    <div class="footer__container container">
            <div class="footer__nav row">
                    <div class="footer__nav-column col-12 col-md-3">
                        
    <h6 class="footer__nav-title">Navigation</h6>

<ul class="footer__nav-list">
        <li class="footer__nav-list-item">
            <a href="/digital-services" class="footer__nav-list-link">Digital Services</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/workday" class="footer__nav-list-link">Workday</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/industries" class="footer__nav-list-link">Industries</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/insights" class="footer__nav-list-link">Insights</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="https://careers.kainos.com/gb/en" class="footer__nav-list-link">Careers</a>
        </li>
</ul>


                    </div>
                    <div class="footer__nav-column col-12 col-md-3">
                        
    <h6 class="footer__nav-title">About Kainos</h6>

<ul class="footer__nav-list">
        <li class="footer__nav-list-item">
            <a href="/about-us" class="footer__nav-list-link">About us</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="https://careers.kainos.com/gb/en/life-at-kainos" class="footer__nav-list-link">Our culture</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/about-us/our-approach" class="footer__nav-list-link">Our approach</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/about-us/diversity-and-inclusion" class="footer__nav-list-link">Diversity and inclusion</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/about-us/sustainability" class="footer__nav-list-link">Sustainability</a>
        </li>
</ul>


                    </div>
                    <div class="footer__nav-column col-12 col-md-3">
                        
    <h6 class="footer__nav-title">Investor Relations</h6>

<ul class="footer__nav-list">
        <li class="footer__nav-list-item">
            <a href="/investor-relations" class="footer__nav-list-link">Investor relations home</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/investor-relations/investor-tools" class="footer__nav-list-link">Investor tools</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/investor-relations/results-and-presentations" class="footer__nav-list-link">Results and presentations</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/investor-relations/regulatory-news-and-events" class="footer__nav-list-link">Regulatory news and events</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/investor-relations/people-and-policies" class="footer__nav-list-link">People and policies</a>
        </li>
</ul>


                    </div>
                    <div class="footer__nav-column col-12 col-md-3">
                        
    <h6 class="footer__nav-title">Legal</h6>

<ul class="footer__nav-list">
        <li class="footer__nav-list-item">
            <a href="/information/privacy-notice" class="footer__nav-list-link">Privacy notice</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/information/corporate-information" class="footer__nav-list-link">Corporate information</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/information/modern-slavery-statement" class="footer__nav-list-link">Modern slavery statement</a>
        </li>
        <li class="footer__nav-list-item">
            <a href="/information/recruitment-notice" class="footer__nav-list-link">Recruitment notice</a>
        </li>
</ul>


                    </div>
            </div>
            <div class="footer__socials">
                <span class="footer__socials-title">Social links</span>
                
<ul class="footer__socials-list"><li class="footer__socials-list-item">
<a href="https://www.linkedin.com/company/kainos/" class="footer__socials-list-link " title="LinkedIn">
    <i class="icon-linkedin"></i>
    <span class="sr-only">LinkedIn</span>
</a>
</li><li class="footer__socials-list-item">
<a href="https://twitter.com/KainosSoftware" class="footer__socials-list-link " title="Twitter">
    <i class="icon-twitter"></i>
    <span class="sr-only">Twitter</span>
</a>
</li><li class="footer__socials-list-item">
<a href="https://www.facebook.com/KainosSoftware/" class="footer__socials-list-link " title="Facebook">
    <i class="icon-facebook"></i>
    <span class="sr-only">Facebook</span>
</a>
</li></ul>
            </div>
        <div class="footer__logo">
            <a href="/" class="footer__logo-link">
                <picture><source srcset="/globalassets/images/5_logos/kainos_transparent.png?width=100&amp;quality=80 100w, /globalassets/images/5_logos/kainos_transparent.png?width=200&amp;quality=80 200w" sizes=""><img alt="logo" src="/globalassets/images/5_logos/kainos_transparent.png?width=200&amp;quality=80" loading="lazy" decoding="async" class="footer__logo-image"></picture>
                <span class="sr-only">Logo</span>
            </a>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bg-image footer__bg-image--desktop" style="background-image: url('/globalassets/images/6_flux/flux_white_footer.png?width=1200&amp;height=0&amp;rmode=crop&amp;rsampler=bicubic&amp;compand=true&amp;quality=80');"></div>
            <div class="footer__bg-image footer__bg-image--mobile" style="background-image: url('/globalassets/images/6_flux/flux_white_footer.png?width=1200&amp;height=0&amp;rmode=crop&amp;rsampler=bicubic&amp;compand=true&amp;quality=80');"></div>
        <div class="footer__container footer__container--image container">
            <div class="footer__slogan">
                <b>Thinking</b>
                <span>beyond</span>
                <b>limitations</b>
            </div>
                <div class="footer__copyrights">Copyright © 2025 Kainos. Registered in NI NI019370</div>
        </div>
    </div>

    <svg class="svg">
        <clipPath id="curve" clipPathUnits="objectBoundingBox">
            <path d="M0,0.16 C0.167,0.053,0.333,0,0.5,0 C0.667,0,0.833,0.053,1,0.16 L1,1 L0,1 L0,0.16"></path>
        </clipPath>
    </svg>
    <svg class="svg">
        <clipPath id="curve-desk" clipPathUnits="objectBoundingBox">
            <path d="M1,0 L1,1 L0.157,1 C0.06,0.868,0,0.693,0,0.5 C0,0.307,0.06,0.132,0.157,0 L1,0"></path>
        </clipPath>
    </svg>
</footer>

</html>